---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
    <h1>{frontmatter.title}</h1>
    <p>Опубликовано: {frontmatter.pubDate.slice(0, 10)}</p>
    <p>Написал {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
</BaseLayout>
